<h4 mat-dialog-title>Enter Company Information</h4>
<form [formGroup]="companyForm">
    <div mat-dialog-content>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Company Name</mat-label>
              <input formControlName="companyName" matInput/>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Company Description</mat-label>
              <textarea formControlName="description" matInput> </textarea>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>CEO Name</mat-label>
              <input formControlName="ceo" matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Turnover in $</mat-label>
              <input formControlName="turnover" matInput type="number">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Website Link</mat-label>
              <input formControlName="website" matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Exchange Type</mat-label>
              <mat-select formControlName="exchange">
                  <mat-option value="BSE">BSE</mat-option>
                  <mat-option value="NSE">NSE</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
    </div> 
</form>
<div mat-dialog-action [align]="'end'">
    <button class ="buttonclass" mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button class ="buttonclass" mat-raised-button color="primary" (click)="addCompany()">{{buttonName}}</button>

</div>
